<div class="container">
    <div class="container-flex" id="timetable">
        <div class="row">
            @for (weekday of days_of_the_week; track $index) {
                <div class="btn btn-primary col-md tt_btn" (click)="day = weekday">{{ weekday }}</div>
            }
        </div>
        <div class="row display-div">
            <h3 id="day_title">{{ day }}</h3>
        </div>
        <div id="timetable_display" class="row">
            <div id="times" class="col-2 display-div">
                @for (hour of hours; track $index) {
                    <div class="row time_holder">
                        {{ hour }}
                    </div>
                }
            </div>
            <div id="event_container" class="col display-div" style="padding: 0">
                @if (timetable_events$) {
                    @if (timetable_events$ | async; as timetable_events) {
                        @for (event of timetable_events; track event) {
                            @if (event.day.toLowerCase() == this.day.toLowerCase()) {
                                <div class="event container" [style]="{
                                    height: `${timeToPx(event.end) - timeToPx(event.start)}px !important`,
                                    top: `${timeToPx(event.start) - (start_hour*60*minute_in_px)}px`
                                }">
                                    <div class="row">{{ event.title }}</div>
                                    <div class="row">{{ event.type }}</div>
                                    <div class="row">{{ event.location }}</div>
                                </div>
                            }
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>