#main {
    min-height: 100dvh;
    padding: 1em;
}

#t-bar {
    background-color: rgb(249, 251, 152);
    border: solid black 1px;
    border-radius: 5px 5px 0 0;
    // margin: 20px;
    margin-bottom: 0.1em;
}