.side_button {
    all: unset;
    display: inline-block;
    cursor: pointer;
    outline: none;
    background-color: inherit;
    width: fit-content;
    box-shadow: none;
    font-weight: bolder;
    padding: 0.5em;
}

@keyframes increase-size {
    from {
        font-size: medium;
    }
    to {
        font-size: large;
    }
}

.li-button :hover {
    text-decoration: underline;
    animation-duration: 0.1s;
    animation-name: increase-size;
    animation-iteration-count: 1;
    font-size: large;
}

.li-button {
    margin-left: 2em;
}

.li-button-selected {
    color: rgba(0, 0, 0, 0.5);
}

#sidebar {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    min-height: fit-content;
}

#sidebar_inner {
    display: flex;
    align-items: center;
    justify-content: left;
}