.outside {
    padding-top: 4em;
    padding-bottom: 4em;
    text-align: center;
}

.pfp {
    border-radius: 50%;
}

#profile-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile {
    margin-left: 15%;
    margin-right: 15%;
}

fa-icon {
    font-size: 2em;
}

.button_a {
    background-color: var(--bs-body-color);
    border-radius: 0.2em;
    font-size: 1.2em;
    text-decoration: none;
    padding: 0.2em;
}

.contact-links {
    color: var(--bs-body-color);
}

.collapse-horizontal {
    height: auto !important;
    width: 0;
    overflow: hidden;
    transition: width .35s ease;
    white-space: nowrap;
    min-width: 0 !important;
    flex-shrink: 0;
    flex-wrap: nowrap;
}

.collapse-horizontal.show {
  width: 14em;
  visibility: visible;
}

.collapser {
    text-align: left;
    align-items: center;
    font-weight: 300;
    align-content: center;
}

#personal_info {
    background-image: repeating-linear-gradient(45deg, #0000 0, #0000 0.45%, rgb(196, 196, 196) 0.5%, #0000 0.55%, #0000 1%);
    background-color: rgb(223, 255, 255);
}

.button-a {
    padding: 0.5em;
    box-shadow: 2px 2px white, 10px 10px black;
}